* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  background: url(images/sunny.jpg);

  background-size: cover;

  transition: 0.8s;
}

.container {
  width: 380px;

  padding: 30px;

  border-radius: 25px;

  background: rgba(255, 255, 255, 0.2);

  backdrop-filter: blur(18px);

  color: white;

  text-align: center;
}

.search {
  display: flex;

  gap: 10px;

  margin-bottom: 30px;
}

.search input {
  flex: 1;

  padding: 15px;

  border: none;

  border-radius: 50px;

  font-size: 18px;
}

.search button {
  width: 55px;

  border: none;

  border-radius: 50%;

  cursor: pointer;

  font-size: 20px;
}

#temp {
  font-size: 70px;

  margin: 20px;
}

#icon {
  font-size: 80px;

  margin: 15px;
}

.details {
  display: flex;

  justify-content: space-around;

  margin-top: 30px;

  font-size: 20px;
}
